@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Height/Width & color parameters are all from figma/pixso */
/*Ex: If figma div width is 1920 but my device size is 1280, then calculate (1280/1920)*100=66.67%, again 1280*0.667=853.76px  */
/*If figma width smaller than my device width, then no need to calculate width */



#hero {
    background-color: tomato;
    background-image: url("../assets/hero-bg.png");
    height: 919px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Since Main div width is same as my device width no need to calculate hero-content width */
/*hero-content width in figma is given 1023px*/

#hero .hero_content {
    width: 1023px;

    /* margin-left: auto;
    margin-right: auto; */
    /* margin: 0 auto; */
}